body{ background: #0c2f68; }

label{color: white; }

h1{ color: #c7dbfc; padding-bottom: 30px; text-align: center; padding-top: 10px; }

h4{ color: #fff; }

.card{ background-color: #d6d5b6; }

.newCont{ padding-bottom: 30px; }

.form-row{ padding-top: 10px; }

.margin-btn{ margin-left: 10px; }

.clickable-row { cursor: pointer; }